body {
  background-color: rgb(47, 44, 44);
  color: azure;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  flex-wrap: wrap;
}

.container {
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1/1;
}

.container > div {
  width: 6.25%;
  height: 6.25%;
  border: 1px solid #000;
  box-sizing: border-box;
  gap: 0; 
  background-color: rgb(99, 99, 99);
}

.container > .black {
  background-color: #000;
}

button {
  background-color: rgb(88, 132, 81);
  margin-bottom: 10px;
  padding: 10px 25px;
  border: 0px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 14px;
}

.modalContainer {
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  padding: 100px 150px;
  border-radius: 10px;
}

.modal {
  background-color: grey;
}

h3 {
  display: block;
}

.show {
  opacity: 1;
  pointer-events: auto;
}
