body {
  background-color: rgb(47, 44, 44);
  color: azure;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
#mainContainer {
  width: 800px;
  height:800px;
  display: flex;
  flex-wrap: wrap;
}

.element {
  flex-basis: calc(6.25%);
  height: 6.25%;
  border: 1px solid #000;
  box-sizing: border-box;
  gap: 0; 
}